.header {
    background-color: #F2F3F7;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: black;
    background-color: black;
    font-size: 20px;
    font-weight: 600;

}

.userImage {
    width: 38px;
    height: 38px;
}